.card-categoria {
    position: relative;
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.card-categoria span {
    position: absolute;
    top: 0;
    left: calc(100% / 6 * var(--i));
    width: calc(100% / 6);
    height: 100%;
}

.card-categoria img {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
}

.card-categoria img:nth-child(2), .card-categoria span:hover + img {
    opacity: 1;
}

.categorias-gorras {
    display: flex;
    justify-content: center;
    gap: 90px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 0px 100px;
}

.categorias-gorras-div {
    flex-direction: column;
}

.text-categoria {
    margin-left: 40px;
}

    .text-categoria:hover {
        text-decoration: underline;
    }

.categorias-gorras a {
    text-decoration: none;
    color: #000;
    font-family: "Pragati Bold",sans-serif;
    font-weight: 600;
}

.titulo-categorias {
    font-family: "Pragati Bold",sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}