
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/giratorio.css" />
</head>
<!-- Header-->
<header class="">
    
</header>
<!-- Section-->
<section>
    <p class="titulo-categorias">NEW ERA FITS - ENCUENTRA TU SILUETA</p>
    <div class="categorias-gorras">
        <div class="categorias-gorras-div">
            <div class="card-categoria">
                <span style="--i:0;"></span>
                <img src="/imagenes/categorias/59FIFTY/1.jpg" alt="">
                <span style="--i:1;"></span>
                <img src="/imagenes/categorias/59FIFTY/2.jpg" alt="">
                <span style="--i:2;"></span>
                <img src="/imagenes/categorias/59FIFTY/3.jpg" alt="">
                <span style="--i:3;"></span>
                <img src="/imagenes/categorias/59FIFTY/4.jpg" alt="">
                <span style="--i:4;"></span>
                <img src="/imagenes/categorias/59FIFTY/5.jpg" alt="">
                <span style="--i:5;"></span>
                <img src="/imagenes/categorias/59FIFTY/6.jpg" alt="">
            </div>
            <div class="text-categoria">
                <p><a  class="category-link" data-category="59FIFTY">59FIFTY</a></p>
            </div>
        </div>
        <div class="categorias-gorras-div">
            <div class="card-categoria">
                <span style="--i:0;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/1.jpg" alt="">
                <span style="--i:1;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/2.jpg" alt="">
                <span style="--i:2;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/3.jpg" alt="">
                <span style="--i:3;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/4.jpg" alt="">
                <span style="--i:4;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/5.jpg" alt="">
                <span style="--i:5;"></span>
                <img src="/imagenes/categorias/9FIFTY SNAPBACK/6.jpg" alt="">
            </div>
            <div class="text-categoria">
                <p><a class="category-link" data-category="9FIFTY">9FIFTY SNAPBACK</a></p>
            </div>
        </div>
        <div class="categorias-gorras-div">
            <div class="card-categoria">
                <span style="--i:0;"></span>
                <img src="/imagenes/categorias/39THIRTY/1.jpg" alt="">
                <span style="--i:1;"></span>
                <img src="/imagenes/categorias/39THIRTY/2.jpg" alt="">
                <span style="--i:2;"></span>
                <img src="/imagenes/categorias/39THIRTY/3.jpg" alt="">
                <span style="--i:3;"></span>
                <img src="/imagenes/categorias/39THIRTY/4.jpg" alt="">
                <span style="--i:4;"></span>
                <img src="/imagenes/categorias/39THIRTY/5.jpg" alt="">
                <span style="--i:5;"></span>
                <img src="/imagenes/categorias/39THIRTY/6.jpg" alt="">
            </div>
            <div class="text-categoria">
                <p><a  class="category-link" data-category="39THIRTY">39THIRTY</a></p>
            </div>
        </div>
        <div class="categorias-gorras-div">
            <div class="card-categoria">
                <span style="--i:0;"></span>
                <img src="/imagenes/categorias/9FORTY/1.jpg" alt="">
                <span style="--i:1;"></span>
                <img src="/imagenes/categorias/9FORTY/2.jpg" alt="">
                <span style="--i:2;"></span>
                <img src="/imagenes/categorias/9FORTY/3.jpg" alt="">
                <span style="--i:3;"></span>
                <img src="/imagenes/categorias/9FORTY/4.jpg" alt="">
                <span style="--i:4;"></span>
                <img src="/imagenes/categorias/9FORTY/5.jpg" alt="">
                <span style="--i:5;"></span>
                <img src="/imagenes/categorias/9FORTY/6.jpg" alt="">
            </div>
            <div class="text-categoria">
                <p><a class="category-link" data-category="9FORTY">9FORTY</a></p>
            </div>
        </div>
    </div>


    <div class="container-fluid px-5 my-5 ">

        <div class="row">

            <div class="col-sm-3">

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Siluetas
                            </div>
                            <div id="contenedor_categoria" class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="silueta" id="cx" value="Todos" checked="checked">
                                    <label class="form-check-label" for="cx">
                                        Todos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="silueta" id="cx" value="59FIFTY">
                                    <label class="form-check-label" for="cx">
                                        59FIFTY
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="silueta" id="cx" value="9FIFTY">
                                    <label class="form-check-label" for="cx">
                                        9FIFTY
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="silueta" id="cx" value="39THIRTY">
                                    <label class="form-check-label" for="cx">
                                        39THIRTY
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="silueta" id="cx" value="9FORTY">
                                    <label class="form-check-label" for="cx">
                                        9FORTY
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnaplicarfiltro" class="btn btn-outline-dark btn-block" type="button">
                                <i class="fas fa-filter"></i>Aplicar Filtros
                            </button>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-sm-9">
                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>

    </div>
</section>

@section scripts {
    
    <script>

        $(document).ready(function () {
            MostrarProductos("Todos")

        })



        function MostrarProductos(silueta) {
            jQuery.ajax({
                url: "@Url.Action("ListarProducto","Tienda")",
                type: "POST",
                data: JSON.stringify({ silueta: silueta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_producto").html("");
                    $("#contenedor_producto").LoadingOverlay("hide");

                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                (element.Promo
                                    ? $("<div>").addClass("badge bg-danger text-white position-absolute")
                                        .css({ top: "1.5rem", right: "1.5rem" })
                                        .text("PROMOCIÓN")
                                    : null),
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Nombre),
                                        (element.Promo
                                            ? $("<div>").append(
                                                $("<span>").addClass("text-muted text-decoration-line-through me-2").text("$ " + element.Precio.toFixed(2)),
                                                $("<span>").addClass("fw-bold text-danger").text("$ " + (element.Precio - (element.Precio * element.PorcentajeDescuento / 100)).toFixed(2))
                                            )
                                            : "$ " + element.Precio.toFixed(2) + "USD"
                                        )
                                    )
                                ),
                                $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(

                                    $("<div>").addClass("d-grid gap-2").append(
                                        @if (Session["Cliente"] != null)
                                        {
                                            @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idproducto", element.IdProducto).text("Agregar a carrito"),

                                        }

                                        $("<a>").addClass("btn btn-dark ").attr({ "href": "@Url.Action("DetalleProducto","Tienda")" + "?idproducto=" + element.IdProducto }).text("Ver detalle")

                                    )
                                )
                            )
                        ).appendTo("#contenedor_producto")

                    })



                },
                beforeSend: function () {
                    $("#contenedor_producto").LoadingOverlay("show");
                }
            })
        }



        $("#btnaplicarfiltro").click(function () {

            var silueta = $("input[name=silueta]:checked").val()

            MostrarProductos(silueta)
        })

        $(document).on("click", "button.agregarcarrito", function () {

            console.log($(this).data("idproducto"))

            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        MostrarCantidadCarrito();

                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = '@Url.Action("Carrito","Tienda")'
                        })
                    } else {
                        swal("", data.mensaje, "warning");
                    }


                }


            });

        })


    </script>
    
    
    
    }